@font-face {
    font-family: "Virgil";
    src: url("Virgil.woff2");
    font-display: swap;
  }
  
  /* https://github.com/microsoft/cascadia-code */
  @font-face {
    font-family: "Cascadia";
    src: url("Cascadia.woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Assistant";
    src: url("Assistant-Regular.woff2");
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: "Assistant";
    src: url("Assistant-Medium.woff2");
    font-display: swap;
    font-weight: 500;
  }
  @font-face {
    font-family: "Assistant";
    src: url("Assistant-SemiBold.woff2");
    font-display: swap;
    font-weight: 600;
  }
  @font-face {
    font-family: "Assistant";
    src: url("Assistant-Bold.woff2");
    font-display: swap;
    font-weight: 700;
  }
  .open-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .open{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .open>p{
    padding-inline: 10px;
  }
  .open>i{
    padding-bottom: 12px;
  }
  .middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cntrl {
    padding-left: 130px;
  }

  .help{
    padding-right: 190px;
  }
  .live{
    padding-right: 95px;
  }
  .try{
    padding-right: 87px;
  }
  .img-logo{
    display: flex;
    justify-content: flex-start;
  }